@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFE7B8;
  --foreground: #3B2C35;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-serif;
}
